---
title: CS-Group Payload & Data department
layout: layout-default
bodyClass: page-home
---

<!-- 
	Title 
-->
<div class="intro">
	<div class="container">
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<h1>SPACE Operations and Intelligence</h1>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 highlight-dark">
			<b>Among the Top 5 European players in space computing, CS GROUP is active in end-to-end mode, in all business lines and throughout the life cycle of systems: upstream studies, operations and intelligence in data enhancement, with one key word: innovation.</b>
		</div>
		<br>
	</div>
</div>

<div class="container">
	<div class="col-12 feature">
	<!-- add container for ie11 compatibility -->
	  <div class="container" align="left">
		<h2>The trusted engineering, systems and information technologies partner for Space missions</h2>
		<br>
		For more than 40 years, {{site.data.str.cs}} has been successfully providing turnkey systems and engineering services for the space and applications markets. With a workforce of 480 engineers combining advanced and unique skills in both information technology and space data engineering, {{site.data.str.cs}} is a major and trusted long-term partner of space and defence agencies, satellite prime contractors and operators, and users of space data.
		<br>
		<a href="https://www.csgroup.eu/en/strategic-sectors/space/"><b>Read more...</b></a>
	  </div>
	</div>
</div>
<br>
		
<!-- List of CS references -->
<div class="container">
	<div class="highlight-dark">
		<h2>Our references</h2>
	</div>
</div>
<div class="container pt-5 pt-md-5">
	<div class="row justify-content-center">

		{% assign activities = site.features | where:"type","reference" %}
		{% for feature in activities %}
		<div class="col-12 col-md-6 col-lg-4 mb-2">
			<div class="feature">
				{% if feature.image %}
				{% if feature.page %}
				<a href="{{site.baseurl}}{{feature.page}}" class="feature-image">
				{% else %}
				<a class="feature-image">
				{% endif %}
					<img alt="{{ feature.title }} logo" src="{{site.baseurl}}/images/{{feature.image}}" />
				</a> 
				{% endif %}
				<h2 class="feature-title">{{ feature.title }}</h2>
				<!-- add container for ie11 compatibility and remove feature-content  -->
				<!-- <div class="feature-content"> --> 
				<div class="container">
				{{ feature.content | markdownify | strip_html | truncate: 200 }}
				{% if feature.readmore != null %}
					<a href="{{site.baseurl}}{{feature.readmore}}">Read more</a>
				{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>



<!--  List of DNA  -->

<div class="container">
	<div class="highlight-dark">
		<h2>Our open source and R&D DNA</h2>
	</div>
</div>
<div class="container pt-5 pt-md-5">
	<div class="row justify-content-center">

		{% assign activities = site.features | where:"type","other" %}
		{% for feature in activities %}
		<div class="col-12 col-md-6 col-lg-4 mb-2">
			<div class="feature">
				{% if feature.image %}
				{% if feature.page %}
				<a href="{{site.baseurl}}{{feature.url}}" class="feature-image">
				{% else %}
				<a class="feature-image">
				{% endif %}
					<img alt="{{ feature.title }} logo" src="{{site.baseurl}}/images/{{feature.image}}" />
				</a> 
				{% endif %}
				<h2 class="feature-title">{{ feature.title }}</h2>
				<!-- add container for ie11 compatibility and remove feature-content  -->
				<!-- <div class="feature-content"> --> 
				<div class="container">
				{{ feature.content | markdownify | strip_html }}
				</div>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>