
/* C-S Group chart colors */
$cs-dark-blue-color: rgb(1, 62, 93);
$cs-blue-color: rgb(7, 104, 137);
$cs-light-blue-color: rgb(105, 181, 189);
$cs-gray-blue-color: rgb(78, 140, 165);
$cs-red-color: rgb(204, 0, 1);
$cs-green-color: rgb(31, 178, 168);
$cs-body-color: rgb(51,51,51);
$cs-background: rgb(212, 226, 226);

$font-family-heading: "Open Sans", "Arial", sans-serif;
$font-family-base: "Open Sans", "Arial", sans-serif;
$primary: $cs-blue-color;
$secondary: $cs-dark-blue-color;
$body-color: $cs-body-color;
$body-bg: #FAFAFA;