.page-home {

	background-image: url('../../images/background-1000x666.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;

	@include media-breakpoint-up(xs) { background-size: 100%; background-position: 100% 20px;  }
	@include media-breakpoint-up(sm) { background-size: 100%; background-position: 100% 0px; }
	@include media-breakpoint-up(md) { background-size: 100%; background-position: 100% -20px; }
	@include media-breakpoint-up(lg) { background-size: 60%; background-position: 100% +100px; }
	@include media-breakpoint-up(xl) { background-size: 60%; background-position: 100% -30px; }

}


// modification css des quotes afin que le fond soit gris
pre,
code,
kbd,
samp {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
	background-color:#EBEBEB;
}


.highlight-dark {

	/* Card uses full row height */
	width: 100%;

	/* Card background */
	background-color: $cs-gray-blue-color;
	
	border-radius: 5px;
	/* box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);*/
	padding: 15px;

	/* Margin between cards */
	margin: 2px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	color: $white;
}


/* images */

.image-right {
	padding-left: 40px;
	float:right;
}


.image-left {
	padding-right: 40px;
	float:left;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.image-center-little {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}

.image-center-60 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}