// Card rendering

// Card root design
.card-common {

	/* Card background */
	height: 100%;
	padding: 15px;
	background-color: #fcfcfc;

	/* Margin between cards */
	margin: 0px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.card-image {
		flex: 0;
		margin-right: 15px;
		margin-bottom: 2px;
		img {
		  border-radius: 50%;
		  height: 70px;
		  width: 70px;
		}
	}
	
	.card-title {
		display: inline-block;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: #FFFFFF;
		text-decoration: none;
	}
}

// Card sizes
.card-size-big {
	background-color: #68b5bd; /*#d4f6fa;*/
	color: #FFFFFF;
	
	.product-image {
		margin-right: 20px;
		img {
		  height: 130px;
		  width: 130px;
		}
	}
	a {
	  color: white;
	}

	.card-title {
		color: #FFFFFF;
		font-size: 3rem;
	}
}

.card-size-standard {
	border: solid 1px $cs-gray-blue-color;
	.card-title {
		font-size: 1.5rem;
	}
}

.card-size-little {
	background-color: #F4F4F4;
	border: solid 1px #ccc;
	margin: 3px;/* Margin between cards */
	
	.product-image {
		margin-right: 10px;
		img {
		  height: 40px;
		  width: 40px;
		}
	}
		
	.card-title {
		font-size: 1.1rem;
	}
}
 
// image displayed in product or reference sheet
.sheet-image {
	flex: 0;
	margin-right: 10px;
	img {
	  border-radius: 50%;
	  height: 100px;
	  width: 100px;
	}
}


// Card tag: license, skills etc.
.card-meta {
	flex: 1;
	h2 {
	margin: 0;
	}
	p {
	margin: 2;
	}
	a {
	}
}

.card-tag {
	white-space: nowrap;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	border-radius: 4px;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

// Customizes each tag depending on displayed information
.card-tag-type  		{ background: #4F0000; }
.card-tag-license  		{ background: #404040; }
.card-tag-investment  	{ background: #009000; }
.card-tag-customer  	{ color: #FFFFFF; background: #2c9ade; }
.card-tag-period  		{ color: #f5e942; background: #404040; }
.card-tag-program  		{ color: #FFFFFF; background: #4512FE; }