<div class="container pt-5 pt-md-5 pb-5">
	<div class="col-12">
		<i>Here is the icons meaning:
		<ul>
			<li><div class="product-tag product-tagtyp">Type</div> <b>lib</b>rary or <b>app</b>lication</li>
			<li><div class="product-tag product-taglic">License</div> product license</li>
			<li><div class="product-tag product-taginv"> Investment</div>
				<b>owner      </b> = {{site.data.str.pda}} is the project owner and the master developer (master branch), 
				<b>master     </b> = {{site.data.str.pda}} is the master developer (master branch), 
				<b>contributor</b> = {{site.data.str.pda}} developps some features (pull requests).
			</li>
			<li><div class="product-tag product-tagcus">Customer</div> main customer if any, or multiple customers.</li>
		</ul>
		</i>
	</div>
</div>
