<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>© Copyright 2019 Communication & Systèmes<li>
			<li>Registered Office: 54-56, avenue Hoche - 75008 PARIS </li>
			<li><a href="mailto:communication.cs@c-s.fr?subject=Contact for {{page.title}}">Contact</a>
			<li><a href="https://uk.c-s.fr/Terms-and-Conditions_a103.html">Legal Mentions</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>