---
layout: layout-toc
---


<div class="container pt-4 pt-md-10">
	<div class="row justify-content-start">

		<div class="col sheet-image">
		{% if page.image %}
			<img alt="{{ page.title }} logo" class="img-fluid mt-2" src="{{site.baseurl}}/{{ page.image }}"/>
		{% else %}
			<img alt="{{ page.title }} logo" class="img-fluid mt-2" src="{{site.baseurl}}/images/default_product_logo.png"/>
		{% endif %}
		</div>
		
		<div class="col pl-2">
		<div><b>PROJECT REFERENCE</b></div>
			<h1 class="title">{{page.title}}</h1>
			<p>
				<div class="card-tag card-tag-cusomer">{{ page.customer }}</div>
			</p>
		</div>
		
		<div class="content col-12">	
			<HR>
		</div>
		
			
		<div class="content reference_page col-12">	
			{{page.content}}
		</div>
	</div>
</div>
